*:focus {
  outline: none!important;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-bottom: 204px;
  position: relative;
}

footer {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.container {
  width: 1070px;
}

@media (max-width: 991px) {
  .container {
    width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}